h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color:white;
}
h3{
    color: crimson;
    padding: 70px 80px;
}
#form1{
    width: 500px;
    height: 400px;
    margin: 50px auto;
    padding: 45px 65px;
    border-radius: 10px;
    background: rgba(0,0,0, 0.5)
}
#serviceBox
{
    width: 98%;
    margin: 20px;
    height:200px;
    border:0px solid black;
}
.serviceBox1, .serviceBox2, .serviceBox3, .serviceBox4 {
    float:left;
    width:25%;
}

.box{
    height: 195px;
    background-color:rgb(93, 223, 173);
    border:5px solid #f7f305;
    -webkit-border-radius: 10px;
    margin: 2px;
    border-radius: 25px;
    -moz-box-shadow: 0 0 10px #1d1212;
    -webkit-box-shadow: 0 0 10px #bdbdbd;
    box-shadow: 0 0 10px #bdbdbd;
}
#hr1{
    color: black;
    margin-top: 45px;
}
h6{
    text-align: center;
    margin-top: -10px;
}
#para1{
    margin-top: 45px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }

  tr:hover {background-color:rgba(0,0,0, 0.5);}
  th{
      background-color: blue;
      padding: 15px;
  }